{% extends 'base.html.twig' %}

{% block title %}Page d'accueil du site{% endblock %}

{% block body %}

{# Ceci est un commentaire twig #}

<div class="container mt-4">
<h1>Vous êtes sur la page d'accueil</h1>
<p>Lorem ipsum.... </p>
</div>
{% endblock %}
